main {
  height: 100%;
  padding: 3vh 5vw;
}

.palette {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
}
.list > div {
  width: 400px;
  height: 200px;
  margin: 0 1em 1em 0;
  padding: 0.25em;
  font-size: 1.6em;
  color: #333;
  border: 1px solid #ccc;
}