main {
  padding: 2% 0 0 2%;
  font-size: 1.1em;
}

.cover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: all 200ms ease-in-out;
}
.cover.visible {
  opacity: 0.8;
  pointer-events: all;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  font-size: 1.1em;
}

.picture {
  width: 18%;
  padding: 0 2% 2% 0;
}

.picture img {
  width: 100%;
  border-radius: 4px;
}

.form input {
  height: 32px;
  width: 200px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  padding-left: 10px;
}
.form input:focus {
  border: 1px solid #2d84da;
}
.form input::placeholder {
  color: #999999;
}

.form button {
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  padding: 0 20px;
  background: #2d84da;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.form button:hover {
  background: #1f69b2;
}
