main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.map {
  height: 60%;
  width: 60%;
  margin: 30px;
  background: white;
  border: 1px solid black;
}

.map path {
  fill: white;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.map circle {
  fill: none;
  stroke: black;
}
.map path.area {
  fill: none;
}
.map path.area-0 {
  opacity: 0.8;
}
.map path.area-1 {
  opacity: 0.6;
}
.map path.area-2 {
  opacity: 0.4;
}
.map path.area-3 {
  opacity: 0.2;
}

.map .cross {
  stroke: none;
  stroke-linecap: round;
  stroke-width: 3px;
}
.map:hover .cross {
  stroke: red;
}

.map .compass circle {
  fill: white;
  stroke: #333;
  stroke-width: 3px;
}

.map .compass path {
  fill: #333;
  stroke: #333;
  stroke-width: 2px;
}

.map .compass text.horizontal {
  text-anchor: middle;
  font-family: Zapfino;
  font-size: 0.8em;
  stroke: #333;
}

.map .compass path.dynamic {
  stroke: gold;
}

.map:hover .compass path.dynamic {
  transition: transform 2s ease-in-out;
}
